.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  column-gap: 0.5rem;
}

h1 {
  font-size: 1.125rem; /*18px */
}

.date {
  font-size: 0.5rem;
  font-family: var(--font-primary);
  display: none;
}

.logo {
  color: var(--color-primary);
  font-weight: 700;
  font-family: var(--font-pacifo);
  font-size: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }

  .logo {
    font-size: 2rem;
  }

  .date {
    display: block;
    font-size: 1rem;
  }
}
