.container {
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.5rem;
}

.section {
  padding-top: 100px;
}

.h2 {
  font-family: var(--font-primary);
}
